/* selector {property: value;} */

/* body {background-color: paleturquoise;} */

body {
  background-color: rgba(65, 105, 225, 0.63);
  margin: 100px;
  padding: 10px;
  border: 3px dotted plum;
  font-family: Verdana;
}

h1 {
  background-color: cornflowerblue;
  /* margin: 20px; */
  padding: 10px;
  color: black;
  font-family: Verdana;
}

header {
  background-color: cornflowerblue;
  /* margin: 20px; */
  padding: 10px;
  color: hotpink;
  font-family: monospace;
  font-style: oblique;
  font-size: larger;
   
}

img {
  width: 525px;
}

nav li {
  display: inline-block;
  margin-top: 30px;
  margin-right: 75px;
}

#hero {
  width: 545px;
}

.lower {
  display: inline-block;
  text-align: center;
  margin: 20px;
  background-color: cornflowerblue;
}

footer {
  text-align: center;
}
